.containa {
    width: 87%;
    margin: auto;
}


.containa > h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 7px;
    letter-spacing: -2px;
}

.containa > p {
    color: rgb(90, 90, 90);
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
}

.image-slides {
    position: relative;
    height: 70vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

.right-arrow {
    position: absolute;
    top: 60%;
    right: 30px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    z-index: 9999;
    user-select: none;
}

.left-arrow {
    position: absolute;
    left: 30px;
    top: 60%;
    font-size: 3rem;
    cursor: pointer;
    z-index: 99999;
    color: #000;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    width: 44%;
    transition-duration: 1s;
    transform: scale(1.08);
}